@model IEnumerable<ETİCARETPROJE.Models.Product>

@{
    ViewData["Title"] = "Ürünler";
}

<h2>Ürün Listesi</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Stok Miktarı</th>
                <!-- Resim sütunu kaldırıldı -->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.StockQuantity</td>
                    <!-- Resim sütunu kaldırıldı -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Ürün bulunamadı.</p>
}
