<h2>Sepetiniz</h2>
<table class="table">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Product.Price.ToString("C")</td>
                <td>@(item.Product.Price * item.Quantity).ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
